<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>琦琦众筹</title>

    <link rel="shortcut icon" href="" >
    <link rel="bookmark" href="" >

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js" ></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/twoType.css}">
</head>

<body>
    <div class="type-container">
        <div class="type-title">
            请选择您的众筹类型
        </div>
        <div class="two-type-content">
            <div class="type-one" onclick="window.location.href='/launch/toLaunch'" style="cursor:pointer">
                <div class="two-type-content-image">
                </div>
                <div class="two-type-content-title">
                    公开性众筹
                </div>
                <div class="two-type-content-content"  >   
                    <div class="two-type-content-content-oneofsix">需设置截止日期</div>
                    <div class="two-type-content-content-oneofsix">需设置回报</div>
                    <div class="two-type-content-content-oneofsix">通过审核后在平台展示</div>
                    <div class="two-type-content-content-oneofsix">一定时间内达到一定金额才算成功</div>
                    <div class="two-type-content-content-oneofsix">收取部分手续费</div>
                    <div class="two-type-content-content-oneofsix">项目成功后按承诺时间回报</div>
                </div>
            </div>
            <div class="type-two" style="cursor:pointer">
                <div class="two-type-content-image">
                    
                </div>
                <div class="two-type-content-title">
                    非公开性众筹
                </div>
                <div class="two-type-content-content" >   
                    <div class="two-type-content-content-oneofsix">无截止日期</div>
                    <div class="two-type-content-content-oneofsix">无需进行回报</div>
                    <div class="two-type-content-content-oneofsix">平台不会为其进行推广宣传</div>
                    <div class="two-type-content-content-oneofsix">随时提款，无需审核</div>
                    <div class="two-type-content-content-oneofsix">无任何手续费</div>
                    <div class="two-type-content-content-oneofsix">由发起人个人众筹</div>
                </div>
            </div>
        </div>
       
    </div>
</body>

</html>

