body {
	--color-text: #fff;
	--color-link: #f0f0f0;
	--color-link-hover: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 2000px;
	width: 100%;
	min-width: 1400px;
	color: #fff;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.news-alert-head{
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	color: white;
	background: red;
	line-height: 20px;
	border-radius: 50%;
    position: absolute;
    top: 60px;
    right: 245px;
}


.news-alert-news{
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	color: white;
	background: red;
	line-height: 20px;
	border-radius: 50%;
    position: absolute;
    top: 250px;
    right: 5px;
}
.the-bigest-container{
	--color-text: #fff;
	--color-link: #f0f0f0;
	--color-link-hover: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 6000px;
	width: 1903px;
	min-width: 1903px;
	color: #fff;
	color: var(--color-text);
	background: linear-gradient(115deg, rgb(105, 253, 233) 5%,rgb(131, 94, 255) 95%);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.probootstrap-header {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    z-index: 12;
	box-shadow: 0 6px 68px -6px rgba(0,0,0,.09);
	position: fixed;
	top: 0%;
}


.container {
	width: 1470px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	margin-left: auto;
	line-height: 50px;
    padding-right: 15px;
}

.probootstrap-logo {
    float: left;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    font-size: 22px;
    display: block;
    text-transform: uppercase;
	font-weight: 700;
	font-family: "Open Sans",sans-serif;
	transition:400ms ease all;
}
.probootstrap-logo:hover{
	color:  rgb(40, 126, 255);
}


.probootstrap-burger-menu {
    position: absolute;
    top: 30px;
	right: 20px;
	width: 18px;
    height: 18px;
    cursor: pointer;
    text-decoration: none;
}

.probootstrap-nav {
    margin-left: 60px;
    float: left;
}

.probootstrap-nav_login {
	margin-left: 60px;
	margin-right: 20px;
    float: right;
}

.probootstrap-main-nav {
    margin: 0;
    padding: 0;
}

.mobile-menu-overlay {
    z-index: 1099;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.probootstrap-main-nav li {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    display: inline;
    font-size: 18px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.search{
	margin-right: 10px;
	float: right;
	visibility: hidden;
}

.search-box{
	width: auto;
    float: right;
	margin-right: 30px;
	position: relative;
    width: 300px;
    margin: 0 auto;
}
.search-box-box{
	width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
	transition: .3s linear;
	font-family: inherit;
    font-size: 100%;
	margin: 0;
	line-height: normal;
}
.search-box-button{
	width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
	right: 0;
	-webkit-appearance: button;
	cursor: pointer;
	text-transform: none;
	line-height: normal;
	font-family: inherit;
    font-size: 100%;
	margin: 0;
	text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
	font: 400 13.3333px Arial;
	align-items: flex-start;
    text-align: center;
    cursor: default;
	color: buttontext;
	padding: 1px 6px;
}
.head-image{
	margin-left: 30px;
	float: right;
	margin-right: 20px;
}

.round_icon{
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }

.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
  position: relative;
}
.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 1px solid #324b4e;
  background: rgb(230, 230, 230);
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}


.button_su{
	overflow: hidden;
	position: relative;
	display: inline-block;
	border-radius: 3px;
	margin-left: 20px;
	float: left;
  }
  
  .button_su_login{
	overflow: hidden;
	position: relative;
	display: inline-block;
	border-radius: 3px;
	float: right;
  }
  .su_button_circle{
	background-color: red;
	border-radius: 1000px;
	position: absolute;
	left:0;
	top:0;
	width: 0px;
	height: 0px;
	margin-left: 0px;
	margin-top: 0px;
	pointer-events: none;
	/*animation-timing-function: ease-in-out; */
  }
  
  .button_su_inner{
	  display: inline-block;
	  background: rgb(211, 230, 252);
	  color: rgb(0, 0, 0);
	  font-size: 16px;
	  font-weight: normal;
	  width: 200px;
	  text-align: center;
	  border-radius: 3px;
	  transition: 200ms;
	  text-decoration: none;
	  z-index: 100000;
  }
  .button_su_inner_login{
	display: inline-block;
	background: rgb(211, 230, 252);
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: normal;
	width: 100px;
	text-align: center;
	border-radius: 3px;
	transition: 200ms;
	text-decoration: none;
	z-index: 100000;
  }
  
  .button_text_container{
	 position:relative;
	 z-index: 10000;
  }

  
  .explode-circle {
	 animation: explode 0.5s forwards;
  
  }
  
  .desplode-circle{
	 animation: desplode 0.5s forwards;
  }
  
  @keyframes explode {
	0% {
	  width: 0px;
	  height: 0px;
	  margin-left: 0px;
	  margin-top: 0px;
	  background-color: rgba(42, 53, 80,0.2);
	}
	100% {
	  width: 400px;
	  height: 400px;
	  margin-left: -200px;
	  margin-top: -200px;
	  background-color: rgba(55, 232, 245, 0.8);
	}
  }
  
  @keyframes desplode {
	0% {
	  width: 400px;
	  height: 400px;
	  margin-left: -200px;
	  margin-top: -200px;
	  background-color: rgba(55, 232, 245, 0.8);
	}
	100% {
	  width: 0px;
	  height: 0px;
	  margin-left: 0px;
	  margin-top: 0px;
	  background-color: rgba(55, 232, 245, 0.8);
	}
	
  }
  
  
  /*这里是下拉窗相关样式*/
.head-image:hover > .head-image-table{
	display: block;
	transition: 400ms;
}

.head-image-table{
    display: none;
    width: 100px;
    position: absolute;
    top: 80px;
    right: 225px;
	height: auto;
	background: white;
	border: 2px solid black;
	border-radius: 10px;
}

.head-image-table:hover{
	display: block;
}

.head-image-nickname{
	color: white;
	background: #00e5ff;
	height: 40px;
	width: 96px;
	line-height: 40px;
	font-size: 13px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

.head-image-button{
	color: black;
	width: 96px;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	line-height: 30px;
	transition: 400ms;
	border-radius: 10px;
	font-size: 13px;
}

.head-image-button:hover{
	background: black;
	color: white;
}

/*这里是下拉窗相关样式*/